// Global
// ---------------------------------
@import "global/variables";
@import "global/functions";
@import "global/font";
@import "global/global";
@import "global/utils";
@import "global/container";



// h1 {
//   width: 100%;
//   max-width: 500px;
//   margin-bottom: 10px;
//   font-family: 'Manrope';
// }

// Blocks
// ---------------------------------
@import "blocks/form";
@import "blocks/btn";
@import "blocks/modal";