// Mixins
// ---------------------------------

// Desktop first
@mixin vp-992 {
  @media (max-width: ($vp-993 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}
