// Colors
// ---------------------------------
$color-default-black:               #2a2a2a;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// ---------------------------------

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;
$color-midnight:                    #0F264C;
$color-sunset-orange:               #EE4D47;
$color-atlantis:                    #7CFC00;

// Viewports
// ---------------------------------
$vp-1920:                           1920px;
$vp-993:                            993px;
$vp-768:                            768px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Typography
// ---------------------------------

$fz-default:                        16px;

// font-weight:
$ff-manrope:                        "Manrope", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;