.form {
  width: auto;
  align-items: center;
  margin-top: 60px;
  padding: 50px;
  background-color: $color-default-white;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.10);

  @include vp-992 {
    padding: 30px;
  }

  @include vp-767 {
    padding: 10px;
  }

  & h2 {
    margin:0 0 40px;
    text-align: center;
    font-size: 28px;
    line-height: 30px;

    @include vp-767 {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 24px;
    }
  }

  & input {
    margin-bottom: 30px;
  }

  & textarea {
    height: 150px;
  }

  input:valid,
  textarea:valid {
    border: 2px solid $color-atlantis;
  }

  input:invalid,
  textarea:invalid {
    border: 2px solid $color-torch-red;
  }
}
