.form {
  width: auto;
  // height: 440px;
  margin-top: 60px;
  padding: 50px;
  background-color: $color-default-white;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.10);

  & h2 {
    margin:0 0 40px;
    text-align: center;
    font-size: 28px;
    line-height: 30px;
  }

  & input {
    margin-bottom: 30px;
  }

  & textarea {
    height: 150px;
  }
}
