@font-face {
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("./fonts/manrope.woff2") format("woff2"),
    url("./fonts/manrope.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("./fonts/manrope-semibold.woff2") format("woff2"),
    url("./fonts/manrope-semibold.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("./fonts/manrope-bold.woff2") format("woff2"),
    url("./fonts/manrope-bold.woff") format("woff");
}
