@import url(./font.scss);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  // background-color: tomato;
}

input, button, p {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  font-family: 'Manrope';
}